@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.radio-switch {
  background: #F1F5F9;
  border: 1px solid #CBD5E1;  
  border-radius: 8px;
}

.radio-switch input:checked + label {
  background: #009294;
  border: 1px solid #009294 !important;  
  border-radius: 8px;
  color: #FFF;
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
